.container-fluid{
    background-color: #024d87; 
    color: white;
    margin-left: 7.5rem;
    margin-right: 7.5rem;    
}
.navbar-nav .nav-link.active{
    color: white;
    
}
.navbar-nav .nav-link.active:hover{
    background-color: #0370c0;   
}
.dropdown-toggle:hover{
background-color: #0370c0;
}
.nav-link:focus, .nav-link:hover {
    color: white;
}
.nav-link{
    color: white;
}

.logo{
    position: relative;
  margin-left: 5rem;
  
    
}
.half{
  
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}
.lg{
    display: flex;
    position: sticky;
    /* width: 100%; */
    top: 1rem;
}
.topp{
    /* background-color: black; */
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    height: 4rem;
}
.print{
    display: flex;
    position:relative;
   left:60rem;
    top:1rem;
    margin-left:7.5rem;
    margin-right:7.5rem;
    
}
.products{
    background-color: #f6f6f6;
    margin-left: 7.5rem;
    margin-right:7.5rem;
}
.products h1{
    color: #6e6d6d;
    font-family: sans-serif;

    padding:0 20rem 0 20rem;
}
@media only screen and (max-width:980px) and (min-width:400px){
    
    div.column.col-md-2.col-lg-4.col-xl-3.mx-auto.mb-3{
        padding-left: 0px;

    }
    h2{
        font-size: smaller;
    }

   
    
    
    .top li a{
        display: none;
    }
    .lg{
        display: flex;
        right: 4rem;
        /* width: 100%; */
    }
    .right{
        display: flex;
        position: relative;
        justify-content: space-between;
        left: 0.1rem;
        /* background-color: #414141; */
    }
    .right-down{
        display: flex;
        position: relative;
        justify-content: center;
        /* background-color: #414141; */
        left: 0.1rem;
    }
        .para {
            position: relative;
            display: flex;
            padding: 0 1rem 0 1rem;
            margin-bottom: 20rem;
            
        }
        
        .btn{
            position: relative;
            display: flex;
            bottom: 10rem;
        }


        
        
       

        div.terms{
            margin:0;
        }
        div.rhs{
            margin-left: 0.1rem;
           
    }
    .last a.text-reset{
        /* padding:20px 0px 20px 0px; */
        clear:both;
        line-height: 5px;
    }
    .last .column p{
        clear: both;
        margin-top: 1rem;
        line-height: 20px;
    }
    .row{
        padding-right: 5rem;
    }

    div.row.mt-3{
        background-color: #eeeeee;

    }
    div.row{
        padding-right: 2.5rem;
        margin-right: 2rem;
        margin-left: 0em;
    }
}

@media only screen and (max-width:515px){
/*    

    div.column p{
        margin:30px;
    } */

}   



@media only screen and (min-width:100px) and (max-width:400px){
    
    *{
        font-size: small;
    }
    h5,h2{
        font-size: small;
    }
    hr{
        width: 100%;
    }
    
    ul.out li.in{
        padding-right: 0;
     }
     ul.out{
        margin-left: 0rem;
        padding-left: 0rem;
        
     }
    .right, .right-down{
        display: flex;
        position: relative;
        justify-content: center;
        right:2.5rem;
        /* background-color: black; */
    }
    .middle {
        color: #024d87;
        margin-left: 7.5rem;
        width: 85%;
        /* padding: 5rem; */
        font-family: sans-serif;
        line-height: 2.5rem;
    }

   

    
.para{
    position: relative;
    display: flex;
    right: 10rem;
    bottom: 3rem;
}

div.Ctr{
    /* background-color: black; */
    clear: both;
    display: grid;
    grid-template-columns:repeat(1,1fr);
    row-gap: 35rem;
   
}

.column button.range{
    /* clear:both; */
    font-size: small;
    height:10%;
    width:80%;
    position: relative;
    margin-left:-0.5rem;
    
}


.footerCtr{
    margin-top: 24rem;
}


.top li a{
    display: none;
}
.ir{
    display: flex;
    position: relative;
    right: 12rem;
     /* line-height: 2.5rem; */
     }
     .para{
        position: relative;
        display: flex;
        right: 12rem;
       top: 5rem;
    }
        
div.news{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    /* margin-bottom: -5em; */
    margin-left: 7.5rem;
    margin-right: 7.5rem;
   
    
    
}

ul.out{
    /* background-color: #414141; */
    display:grid;
    grid-template-columns: repeat(1,1fr);

}
ul.out li.in{
    background-color: #024d87;
    

}



div.column.col-md-2.col-lg-4.col-xl-3.mx-auto.mb-3{
    padding-left: 1rem;
    text-align: left;
}
div.terms{
    text-align: left;
    font-size: small;
}

}
@media only screen and (min-width:300px) and (max-width:700px){
    .column hr{
        margin-top: -1em;
        width: 100%;
        /* margin-left: 2em; */
        float: left;
    }
    

    .column div.corner p{
       
        line-height: 0.9rem;
        margin-left: 0;
    }
    

    
    div.row.mt-3{
        padding-left: 0;

        width:100%;
    }
        
    .Ctr div.box3{
        padding:2rem;
        max-width: 10rem;
        margin-top: 2rem;
        clear: both;
        margin-right: 4rem;
        /* height: fit-content; */
        /* width: min-content; */
    }

div.news{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    /* margin-bottom: -5em; */
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    
    
}
div.first p, div.first h2{
    color: white;
    margin-left: 2rem;
    

 }

 div.first button{
    clear: both;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 0rem;

    
 }

 ul.out{
    margin-left: 0rem;
    padding-left: 0rem;
    
 }
 ul.out li.in{
    padding-right: 0;
    padding-top: 1rem;
 }
    
    
    .ir{
   display: flex;
   position: relative;
   right: 12rem;
    
    }
    .right, .right-down{
        display: flex;
        position: relative;
        justify-content: center;
        right:2.5rem;
        
    }
    .para{
        position: relative;
        display: flex;
        right: 12rem;
       top: 5rem;
    }
    .btn{
        right: 10rem;
    }
    .top li a{
        display: none;
    }
    .lg{

        display: flex;
        right: 4.8rem;
    }

    ul.out{
        
        display:grid;
        grid-template-columns: repeat(2,1fr);

    }
    ul.out li.in{
        background-color: #024d87;
        text-align: right;
        padding-right: 1rem;

    }


    .footerCtr{
        margin-top: 13rem;
    }



    .terms div.rhs{
        margin-left: 5px;
        /* background-color: aqua; */
}
.last a.text-reset{
    /* padding:20px 0px 20px 0px; */
    clear:both;
    line-height: 15px;
}
.last .column p{
    clear: both;
    line-height: 1px;
}
.row{
    padding-right: 2rem;
}


}
/* @media only screen and (max-width:1021px){
    .carousel-control-prev-icon{
        left: 5rem;
    }
} */
@media only screen and (max-width:1272px){
    
 .two div.box3 {

margin-left: 1rem;
margin-right: 3rem;
height: max-content;
width: fit-content;
/* padding-right: 8rem; */
 }
 


  li.in{
        padding-right: 50px;
        
        margin-top: 0;
        height: 40px;
    }
    /* div.row{
        padding-right: 2.5rem;
        margin-right: 0rem;
        margin-left: 0em;
    }
     */
}
@media only screen and (max-width:1012px){
    

    li.in{
          padding-right: 20px;
          font-size: small;
          margin-top: 50;
          height: 80px;
      }
      
      
  }

  @media only screen and (min-width:750px) and (max-width:992px){
    button.range{
        height: 0.5rem;
        width: 1rem;
        padding:0;
    }
    .last a.text-reset{
        /* padding:20px 0px 20px 0px; */
        clear:both;
        line-height: 15px;
    }
    .last .column p{
        clear: both;
        line-height: 20px;
    }
    .row{
        padding-right: 5rem;
    }
    div.terms{
        margin:0;
    }
    div.rhs{
        margin-left: 0.1rem;
       
}
    }
    

  

  




    



.navbar-brand{
color: white;
}

.navbar-brand:hover{
    background-color: #0370c0;
    color: white;
}

.bg-body-tertiary{
    padding: 0;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
.navbar{
    --bs-navbar-nav-link-padding-x: 2rem;
}
.top{
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 25rem;
    bottom: 5rem;
    align-items: center;
    list-style: none;
}
.inside{
    position: relative;
    padding: 2rem 2rem 0 2rem;
}
.top li a{
    text-decoration: none;
    /* margin-right: 4rem; */
}
.container{
    position: relative;
    bottom: 1rem;
    
}
/* .carousel-inner{
    height: 90rem;
    width: 70rem;
    margin: 7.5rem;
} */
.slider{
    background-color: #024d87;
    
    /* width: 100%;
    height: 100%; */
}
.carousel-item {
    opacity: 10;
}
.vid video{
    height: 100%; 
    width: 100%;    
}
.vid{
    margin-left: 7.5rem;
    margin-right: 7.5rem;   
}


.car{
    background-color: #414141;
}




  
.lists{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 7.3rem;
    margin-right: 7.3rem;
}

.lists li{
    list-style: none;
    text-decoration: none;
}
.lists li a{
    text-decoration: none;
}

.lists li h5{
    font-weigh:
}





.down footer{
    margin-top: 0rem;
}
footer.last{
    margin-top: 0;
}

.last{
    /* margin-top: 10em; */
    background: #eeeeee;
    font-size: smaller;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    
}
.last h5{
    margin-top: 2em;
    /* margin-bottom: ; */
    
}   
.column hr{
    margin-top: -1em;
    width: 70%;
    
}
.last h5,span{
    color: black;
    font-weight:normal;
}
.last p a{
    text-decoration: none;
    line-height: 0.5rem;
    
}
.last p{
    line-height: 0.5rem;
    padding-left: 0rem;
    
    
    
}
.last button{
    background-color: #0370c0;
    margin-left:0;
    /* align-items: center; */
    justify-content: space-between;
    color: #eeeeee; 
    border: none;
    height: 3em;
    width: 10em;
    margin-bottom: 1em;
}

.column{
    padding-left: 3em;
}


.terms{
    display: flex;
    flex-direction: row;
    /* gap: 17em; */
    margin-left: 2em;
}
div.rhs{
    margin-left: 13.5rem;
   
}
.nav-item ul li ul{
    display: block;
    position: absolute;
    background-color: #0370c0;
}

.carousel-inner{
   height: 100%;
   width: 100%;
}

.carousel-control-prev-icon{
    margin-left: 7.5rem;
}
.carousel-control-next{
    margin-right: 7.5rem;
}
.middle{
    color: #024d87;
    margin-left: 7.5rem; 
    width: 85%;
    padding: 5rem;
    font-family: sans-serif;
    line-height: 2.5rem; 
    
}
.right{
    position: relative;
    max-width: fit-content;
    max-height: fit-content;
    float: right;
    clear: left;
   
}
.code-img{
    width: 15%;
    height: 15%;
    float: right;
    display: block;
    margin-left: 1.75rem;
    margin-right: 1.5rem;
    /* border:solid 10px grey; */
}
.code-img:active{
    color: #0370c0;
}
.right-down{
    position: relative;
    max-width: fit-content;
    max-height: fit-content;
    float: right;
    clear: left;
   
}
.normal-img{
    height: 15%;
    width: 15%;
    float: right;
    display: block;
    margin-left: 1.75rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}
.para{
    color: black;
}
button{
    background-color: #024d87;
    color: white;
    margin: 1rem;
    /* margin-right: 8.5rem; */
}
/* span{
    background-color: grey;
} */

/* h5{
    background-color: black;
} */
.pp , .carousel-inner h5{
    background-color: black;
}






.down .follow{
    margin-top: 0;
}




.follow{
    background-color: #024d87;
    height: 4rem;
    margin-bottom: -3em;
    /* width: 100%; */
    
}



.out{
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    /* position: relative; */
    /* margin-left: 0rem; */
    /* bottom: 5rem; */
    align-items: center;
    list-style: none;
    padding: 0.75em 0em 0.75em 1.7em;

}
.in{
    /* position: relative; */
    
    /* display: inline; */
    font-size: 0.9rem;
    padding-right: 8em;
    
    
}
.in img{
    height: 2.1rem ;
    width: 2.3rem;
    box-sizing: border-box;
    background-color: white;
    left: 0;


}

.out li a{
    text-decoration: none;
    color: white;
    margin-left: 0.5em;
}



.down footer{
    margin-top: 0rem;
}


.last{
    margin-top: 10em;
    background: #eeeeee;
    font-size: smaller;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    
}
.last h5{
    margin-top: 2em;
    /* margin-bottom: ; */
    
}   
.column hr{
    margin-top: -1em;
    width: 70%;
    
}
.last h5,span{
    color: black;
    font-weight:normal;
}
.last p a{
    text-decoration: none;
    line-height: 0.5rem;
    
}
.last p{
    line-height: 0.5rem;
    padding-left: 0rem;
    
    
    
}
.last button{
    background-color: #0370c0;
    margin-left:0;
    /* align-items: center; */
    justify-content: space-between;
    color: #eeeeee; 
    border: none;
    height: 3em;
    width: 10em;
    margin-bottom: 1em;
}

.column{
    padding-left: 3em;
}


.terms{
    display: flex;
    flex-direction: row;
    /* gap: 17em; */
    margin-left: 2em;
}
div.rhs{
    margin-left: 13.5rem;
   
}