/* *{
    margin: 0 2rem 2rem 0;
} */
.container-fluid{
    background-color: #024d87; 
    color: white;
}
.navbar-nav .nav-link.active{
    color: white;
    
}
.navbar-nav .nav-link.active:hover{
    background-color: #0370c0;
    
}

/* @media (max-width: 882px){
    .container{
        font-size: 20px;
        padding-left: 50px;
    }
} */
.logo{
    margin-left: 7.5rem;
}
img{
    height: 5rem;
    width: 10rem;
}
.bg-body-tertiary{
    padding: 0;
}
.navbar{
    --bs-navbar-nav-link-padding-x: 2rem;
}
.top{
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 35rem;
    bottom: 5rem;
    align-items: center;
    list-style: none;
}
.inside{
    position: relative;
    padding: 0 2rem 0 0;
}
.top li a{
    text-decoration: none;
}
.container{
    position: relative;
    bottom: 2rem;
}